[Unit]
Description=dave webdav server
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/dave -config "/etc/dave/config.yaml"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
